In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\_\Desktop\E-Commerce Dataset.csv")

In [4]:
df

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-24
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-24
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-24
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-24
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-24
...,...,...,...,...,...,...,...,...
3655,67abda0a,28714133-6,Beauty,486.79,0,486.79,UPI,14-05-24
3656,34ebc1a0,08838c2c-9,Toys,212.87,15,180.94,Cash on Delivery,19-11-24
3657,1defd3b1,c39a4f16-6,Home & Kitchen,389.76,0,389.76,Net Banking,07-08-24
3658,0611293d,b4f67f96-9,Electronics,447.66,30,313.36,UPI,21-05-24
3659,e73ad07c,a5d07442-d,Home & Kitchen,235.77,30,165.04,UPI,14-04-24

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3660 entries, 0 to 3659
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           3660 non-null   object
 1   Product_ID        3660 non-null   object
 2   Category          3660 non-null   object
 3   Price (Rs.)       3660 non-null   float64
 4   Discount (%)      3660 non-null   int64
 5   Final_Price(Rs.)  3660 non-null   float64
 6   Payment_Method    3660 non-null   object
 7   Purchase_Date     3660 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 228.9+ KB

In [6]:
df.describe().round()

       Price (Rs.)  Discount (%)  Final_Price(Rs.)
count       3660.0        3660.0            3660.0
mean         255.0          19.0             207.0
std          142.0          15.0             123.0
min           10.0           0.0               6.0
25%          134.0           5.0             105.0
50%          254.0          15.0             199.0
75%          378.0          25.0             304.0
max          500.0          50.0             497.0

In [10]:
df.isnull().sum()/len(df)*100

User_ID             0.0
Product_ID          0.0
Category            0.0
Price (Rs.)         0.0
Discount (%)        0.0
Final_Price(Rs.)    0.0
Payment_Method      0.0
Purchase_Date       0.0
dtype: float64

In [8]:
df.shape

(3660, 8)

In [11]:
df.dropna().shape

(3660, 8)

In [12]:
df[df.duplicated()].shape

(0, 8)